.guarantees {
  min-height: 600px;
  background-color: var(--bg-secondary);
  max-width: var(--max-width);
  border-radius: 10px;
  border: 1px solid var(--border-light);
  display: flex;
  flex-direction: column;
}

.guarantees__header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
  font-size: var(--h1);
  color: var(--text-primary);
  padding: var(--space-4) 0;
  border-bottom: 1px solid var(--border-light);
}

.guarantees__title {
}

.guarantees__main {
  padding: 10px 40px 0px 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-secondary);
  font-size: var(--text-lg);
  color: var(--text-secondary);
}

.guarantees__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.guarantees__spacing {
  padding-left: 10px;
}

.guarantees__paragraph{
    padding-bottom: 10px;
}

.guarantees__link {
  font-family: var(--font-secondary);
  font-size: var(--text-lg);
  color: var(--text-price);
  text-decoration: underline !important;
  padding-bottom: 20px;
}

.guarantees__reviews{
  border-top: 1px solid var(--border-light);
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.guarantees__reviews-title{
    font-family: var(--font-primary);
  font-size: var(--h2);
  color: var(--text-primary);
  padding-top: 20px;
}

.guarantees__img{
  padding-bottom: 30px;
}