.catalog {
    min-height: 600px;
    border: 1px solid var(--border-light);
    border-radius: 10px;
    background-color: var(--bg-secondary);
}

.catalog__header {
    font-family: var(--font-primary);
    font-size: var(--h1);
    color: var(--text-primary);
    height: 80px;
    border-bottom: 1px solid var(--border-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.catalog__main {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 10px;
    justify-items: center;
    align-items: center;
}

/* CARD */

.card {
    font-family: var(--font-secondary);
    color: var(--text-secondary);
    font-size: var(--text-base);
    width: 100%;
    max-width: 300px;
    min-height: 320px;
    border: 1px solid var(--border-light);
    transition: border .2s ease;
}

.card:hover{
    border: 1px solid var(--border-dark);
    
}

.card__img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    cursor: pointer;
}

.card__title{
    padding-top: var(--space-2);
    font-family: var(--font-primary);
    color: var(--text-primary);
    font-size: var(--text-base);
    padding-left: var(--space-2);
}

.card__text{
    padding-top: var(--space-2);
    font-family: var(--font-secondary);
    color: var(--text-secondary);
    font-size: var(--text-base);
    padding-left: var(--space-2);
    word-wrap: break-word;           /* перенос длинных слов */
    overflow-wrap: break-word;
}

.card__price{
    color: var(--text-price);
    text-decoration: underline;
}
