.catalog {
    min-height: 600px;
    border: 1px solid var(--border-light);
    border-radius: 10px;
    background-color: var(--bg-secondary);
}

.catalog__header {
    font-family: var(--font-primary);
    font-size: var(--h1);
    color: var(--text-primary);
    height: 80px;
    border-bottom: 1px solid var(--border-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.catalog__main {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 10px;
    justify-items: center;
    align-items: center;
}


