.filter{
    background-color: var(--bg-secondary);
    min-height: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: var(--font-secondary);
    color: var(--text-primary);
    font-size: var(--text-base);
}

.filter__form{
    min-height: 60px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

.filter__select{
    text-align: center;
    border: 1px solid var(--border-dark);
    border-radius: 5px;
}


.filter__select option{
    background-color: var(--bg-secondary);
}

.filter__sort{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    
}

.filter__sort-max{
    transition: color .3s ease;
}


.filter__sort-min{
    transition: color .3s ease;
}

.filter__sort>button:hover{
    color: var(--text-price);
}

.filter__search{
    border: 1px solid var(--border-dark);
    width: 30%;
    min-width: 200px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
}

.filter__search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23999' stroke-width='2'><line x1='18' y1='6' x2='6' y2='18'/><line x1='6' y1='6' x2='18' y2='18'/></svg>");
    cursor: pointer;
}


.filter__price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.filter__price-inputs{

display: flex;
flex-direction: column;
text-align: center;
}

.filter__price-min{
    border: 1px solid var(--border-dark);
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    height: 30px;
}

.filter__price-max{
    border: 1px solid var(--border-dark);
    border-radius: 10px;
    text-align: center;
    height: 30px;
}


.filter__price-apply{
    border: 1px solid var(--border-dark);
    border-radius: 6px;
    padding: 10px;
    transition: background-color .3s ease;
}


.filter__price-apply:hover{
    background-color: var(--hover-btn);
}