.gallery{
    position: fixed;
    background: var(--bg-modal);
    width: 100vw;
    height: 100vh;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.gallery__wrapper{
    max-width: 1200px;
    padding: 0 10px;

}