@media (max-width: 1080px) {
  .authorization__registration {
    margin-right: 50px;
  }
}

@media (max-width: 880px) {
  .authorization {
    display: none;
  }

  .nav {
    display: none;
  }

  .burger {
    display: flex !important;
  }

  .header__right {
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width: 430px) {
  .catalog__title {
    font-size: var(--h3);
  }
}

@media (max-width: 360px) {
  .catalog__main {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 390px) {
  .burger {

    margin-right: 10px !important;

  }
}
