@media (max-width: 1080px) {
  .authorization__registration {
    margin-right: 50px;
  }
}

@media (max-width: 880px) {
  .authorization {
    display: none;
  }

  .nav {
    display: none;
  }

  .burger {
    display: flex !important;
  }

  .header__right {
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width: 430px) {
  .catalog__title {
    font-size: var(--h3);
  }
}

@media (max-width: 380px) {
  .catalog__main {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 390px) {
  .burger {
    margin-right: 10px !important;
  }
}

@media (max-width: 640px) {
  .catalog__header::before,
  .catalog__header::after {
    content: none;
    background: none;
  }
}



/* aboutUs страница */


@media (max-width: 768px) {
  .about-us {
    min-height: auto; /* Убираем фикс. высоту */
  }
  
  .about-us__main {
    padding: 10px 30px;
  }
  
  .about-us__group--info {
    gap: 12px;
  }
}

@media (max-width: 480px) {
  .about-us__main {
    padding: 8px 20px;
  }
  
  .about-us__text {
    text-indent: 8px;
    padding: 12px 0;
  }
  
  .about-us__group--info {
    flex-direction: column;
    padding: 15px 0;
  }
  
  .about-us__img {
    width: 50px;
    height: 50px;
  }
  
  /* Убираем двойные границы */
  .about-us__subtitle {
    border-bottom: none;
  }
}