:root{

   /* Фоны */
  --bg-primary: #1E1F24;       /* был #1A1B1E — теперь светлее */
  --bg-secondary: #282A30;      /* был #25262B */
  --bg-tertiary: #2F3138;       /* был #2C2E33 */
  --bg-elevated: #35373F;       /* был #2F3136 */
  
  /* Модальки */
  --bg-modal: #2f3138d2;


  /* Хедер и футер */
  --header-bg: #1B1C21;         /* чуть темнее основного для контраста */
  --footer-bg: #18191E;         /* ещё чуть темнее */
  
  /* Текст */
  --text-primary: #FFFFFF;
  --text-secondary: #C5C7CC;    /* чуть светлее */
  --text-muted: #9699A3;   
  --text-price: #F59F00;     /* чуть светлее */
  
/* Шрифты для текста */
  --font-secondary:  "Montserrat", sans-serif;
  --font-primary: "Inter", sans-serif;

  /* Границы */
  --border-light: #3A3C45;      /* светлее */
  --border-dark:#F59F00;      /* светлее */
  --burger-lines: #FFFFFF;

  /* Текст */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 1rem;
  --text-lg: 18px;
  --text-xl: 20px;
  --h1: 38px;
  --h2: 30px;
  --h3: 24px;
  
  /* Отступы */
  --space-2: 8px;
  --space-4: 16px;
  --space-6: 24px;
  --space-8: 32px;
  --space-12: 48px;


/* Цвета кнопок */
  --bg-btn:#bd7f0c;
  --hover-btn: #ffab10;
  --border-btn: #ffa600;


  /* Контейнерная ширина */

  --max-width: 1200px;
}