:root {
  /* Фоны */
  --bg-primary: #1e1f24; /* был #1A1B1E — теперь светлее */
  --bg-secondary: #282a30d0; /* был #25262B */
  --bg-tertiary: #2f3138; /* был #2C2E33 */
  --bg-elevated: #35373f; /* был #2F3136 */
  --bg-card: #1e1f24c9;

  /* Модальки */
  --bg-modal: #2f3138d2;

  /* Хедер и футер */
  --header-bg: #1b1c21; /* чуть темнее основного для контраста */
  --footer-bg: #18191e; /* ещё чуть темнее */

  /* Текст */
  --text-primary: #ffffff;
  --text-secondary: #c5c7cc;
  --text-muted: #9699a3;
  --text-price: #f59f00;
  --text-gr-primary: #fa6c00;
  --text-class-ar: rgba(0, 255, 0, 0.7);
  --text-class-wr: rgba(255, 166, 0, 0.7);
  --text-class-dw: rgba(249, 249, 250, 0.7);
  --text-class-mg: rgba(64, 128, 255, 0.7);

  /* Шрифты для текста */
  --font-secondary: "Montserrat", sans-serif;
  --font-primary: "Inter", sans-serif;

  /* Границы */
  --border-light: #3a3c45; /* светлее */
  --border-dark: #f59f00; /* светлее */
  --burger-lines: #ffffff;

  /* Текст */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --h1: 38px;
  --h2: 30px;
  --h3: 24px;
  --adaptive-lg: 1.4rem;
  --adaptive-med: 1.2rem;
  --adaptive-sm: 1rem;


  /* Отступы */
  --space-2: 8px;
  --space-4: 16px;
  --space-6: 24px;
  --space-8: 32px;
  --space-12: 48px;

  /* Цвета кнопок */
  --bg-btn: #bd7f0c;
  --hover-btn: #ffab10;
  --border-btn: #ffa600;

  /* Контейнерная ширина */
  --max-width: 1200px;

  /* Цвета для свечения карточек */
  --border-mage: #1639d4;
  --border-ranger: #20ce20;
  --border-warrior: #d18718;
  --border-dwarf: #686868;
}
